main {
    flex-grow: 1;
    position: relative
}

article {
    display: grid;
    height: 100%;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    position: absolute;
    left: 0px;
    top: 0px
}

article[status="inactive"] {
    transform: translateX(-100%);
}

.articleSection {
    height: 100%;
    border: 1px solid var(--border-color);
}

.articleImageSection {
    height: 100%;
}

.articleDescriptionSection {
    height: 100%;
}

.articleTitleSection {
    height: 100%;
}

.articleNavSection {
    height: 100%;
}